version: "3.4"
services:
    classcodegenerator-php-fpm:
        build:
            context: .
            dockerfile: docker/php-fpm/Dockerfile
            target: development
            args:
                www_data_uid: 1000
                www_data_gid: 1000
        container_name: classcodegenerator-php-fpm
        volumes:
            - .:/var/www/html
        ports:
            - "35729:35729"
